.footer_main{
    background-color: black;
    color: aliceblue;
    width: 100%;
    margin: auto;
    padding-top: 20px;
    position:absolute;
    bottom: 0px;
    margin-top: 100%;
}
.footer{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: auto;

}

.footer_p{
    width: 89%;
    margin: auto;
    margin-top: 20px;
}
.Contact_info{
    text-align: left;
}